.intro {
  min-height: 300px;
  background-color: #1d2631;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  outline: 1px solid red;
}
