.main-nav {
  position: relative;
  margin-bottom: 0;
}

.main-nav__toggle {
  position: absolute;
  top: -45px;
  right: 0;
  cursor: pointer;
}

.main-nav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.main-nav__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.main-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: @font-open-sans-bold;
  color: @secondary-text-color;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}

/*--DESKTOP--*/

@media (min-width: @desktop-width) {
  .main-nav {
    margin-left: auto;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .main-nav__item {
    padding: 40px;
    padding-right: 0;
    padding-left: 80px;
    border: none;
  }

  .main-nav__link {
    padding: 0;
    font-family: @font-open-sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
  }
}
