.social {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;

}

.social__item {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}

.social__item--tw {
  background-image: url("..//img/icon-twitter.svg");
}

.social__item--fb {
  background-image: url("..//img/icon-facebook.svg");
}

.social__item--yt {
  margin-right: 0;
  background-image: url("..//img/icon-youtube.svg");
}
